@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 30vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(40, 37, 206);
}

img{
    border-radius: 50%;
    margin: 20px 0px 0px 30px;
}

h1,h2{
font-size: 20px;
margin-left: 15px;
color: white;
text-align: left;
}

p{
 text-align: left;   
 margin-left: 15px;
 color: white;
 line-height: 25px;
}

.p2{
    color: rgb(204, 203, 203);
}

.link{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    color: blue;
    font-weight: 600;
    width: 125px;
    height: 35px;
    border-radius: 15px;
    margin-left: 15px;
}

.link a{
    text-decoration: none;
}